
.CardGroupe {
    width: 80%;
    margin: auto;
}

.CardGroupe h2 {
    width: 80%;
    margin: auto;
    text-align: left;
}

.flexCard {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}